$header-height: 50px;
$gnb-width: 70px;

$header-background-color: #222222;
$gnb-backgroun-color: #222222;

$dark-background-color: #f4f5f6;
$container-border-color: #cfcfcf;

$dark-text-color: #222222;
$gray-text-color: #6f6f6f;
