.log-viewer {
  background-color: white;
  table {
    table-layout: fixed;
    th {
      padding: 7px;
    }
  }
  .date-table-header {
    cursor: pointer;
  }
  .load-more {
    cursor: pointer;
  }
}
