.log-viewer {
  background-color: white;
  table {
    table-layout: fixed;
    th {
      padding: 7px;
    }
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.8rem;
      padding: 7px;
    }
  }
  .date-table-header {
    cursor: pointer;
  }
  .load-more {
    cursor: pointer;
  }
}
