@import "styles/variables.scss";

.connection-graph-container {
  border: 1px solid $container-border-color;
  border-radius: 3px;
  overflow: hidden;
  .connection-graph-header {
    color: $dark-text-color;
    background-color: $dark-background-color;
    padding: 9px;
  }

  .connection-graph-body {
    background-color: white;
    padding: 9px;

    .connection-graph {
      height: 500px;
    }
  }
  .rv-force__node {
    cursor: pointer;
  }
}
