.connection-graph-container {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 3px;
  overflow: hidden;
  .connection-graph-header {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 9px;
  }

  .connection-graph-body {
    background-color: white;
    padding: 9px;

    .connection-graph {
      height: 500px;
    }
  }
}
