@import "styles/variables.scss";

.header {
  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: $header-background-color;
  color: white;

  .logo-container {
    width: $gnb-width;
    .logo {
      width: 30px;
      height: 30px;
    }
  }
  .title-container {
    flex: 1;
  }
  .option-container {
    width: $gnb-width;
  }
}
