@import "styles/variables.scss";

.dashboard {
  min-width: 800px;
  .left-panel {
    flex-grow: 1;
  }
  .right-panel {
    width: 300px;
    .dashboard-item {
      border: 1px solid $container-border-color;
      border-radius: 3px;
      overflow: hidden;
    }
    .dashboard-item-header {
      background-color: $dark-background-color;
      color: $dark-text-color;
      padding: 9px;
    }
    .dashboard-item-body {
      background-color: white;
      padding: 9px;
    }
    .view-details {
      text-decoration: underline !important;
      color: black;
      font-style: italic;
      &:hover {
        color: rgb(97, 97, 97);
      }
    }
  }
}
