.network-out-node-peer-graph {
  background-color: white;
  width: 1100px;
  padding: 10px;
  margin: 10px;

  .plot {
    display: block;
  }
}

.to-time {
  display: inline-block;
  margin: 5px;

  label {
    margin-right: 5px;
  }
}
.from-time {
  display: inline-block;
  margin: 5px;

  label {
    margin-right: 5px;
  }
}
