.color-picker {
  position: relative;
  .color-picker-button {
    width: 20px;
    height: 20px;
    border: 1px gray solid;
    cursor: pointer;
  }
  .block-picker-container {
    position: absolute;
    z-index: 2;
    left: -7px;
    top: 29px;
  }
  .cover {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
